---
title: O nás
description: Jsme mladá studentská kapela složená z party kamarádů, které hudba prostě baví.
image: /images/about/top.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>O nás</h1>
			<p class="subtext">
				Jsme mladá studentská kapela složená z party kamarádů, které hudba prostě baví.
				Repertoár máme od každého žánru trochu, od big beatu, po rock, pop, funk a uslyšíte české i zahraniční hity, které osloví nejširší publikum.
				Zahrajeme vám rádi při každé příležitosti. Na plese, svatbě, oslavě a jakékoli jiné události.
				A proč si pro Vaši akci vybrat zrovna nás?
				Myslíme si, že dokážeme zajistit kvalitní živou produkci a vneseme do vašeho večera pohodovou taneční atmosféru.
			</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<ul class="band">
			{% for person in site.band_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
