---
title: Home
description: Mladá kapela s hudbou pro každou příležitost!
image: /images/home/top.jpg
bottom_image: /images/home/bottom.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Kapela Cmaj7</h1>
			<p class="subtext editable">
				Mladá kapela s hudbou pro každou příležitost!
			</p>
			<div class="cta button alt"><a href="/about/">Zjistit Více</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Nadcházející akce<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Nadcházející akce:</h2>
				<table class="editable">
					<tr>Nadcházející akce:</tr>
					<tr>
						<th>22.6.2024</th>
						<th>Petříkov</th>
						<th>Petříkovské veselení</th>
					</tr>
					<tr>
						<th>13.7.2024</th>
						<th>Šalmanovice</th>
						<th>Pytlácké slavnosti</th>
					</tr>
					<tr>
						<th>26.7.2024</th>
						<th>Trhové Sviny</th>
						<th>Koncert na Velkém rybníce</th>
					</tr>
					<tr>
						<th>10.8.2024</th>
						<th>Petříkov</th>
						<th>Petříkovský triatlon</th>
					</tr>
					<tr>
						<th>31.8.2024</th>
						<th>Trhové Sviny</th>
						<th>Motorkářský sjezd na Velkém Rybníce</th>
					</tr>
					<tr>
						<th>14.9.2024</th>
						<th>Roudné</th>
						<th>Roudné fest</th>
					</tr>
				</table>
			</div>
			<div class="container">
				{% for file in site.static_files %}
				{% if file.path contains 'images/home/posters' %}
				<div class="image">
					<img class="editable" src="{{ file.path }}" alt="{{ file.basename }}">
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<!-- <section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Maškarní ples Ledenice</h2>
				<p class="editable">22.2.2024!</p> 
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section> -->

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Kontaktujte nás!</h2>
				<p class="subtext editable">Máte zájem o naši produkci?</p>
				<div class="cta button alt"><a href="/contact/">Klikněte zde!</a></div>
			</div>
		</div>
	</section>
</div>