---
title: Home
description: Mladá kapela s hudbou pro každou příležitost!
image: /images/home/top.jpg
bottom_image: /images/home/bottom.jpg
poster_00: /images/home/posters/00.jpg
poster_01: /images/home/posters/01.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Kapela Cmaj7</h1>
			<p class="subtext editable">
				Mladá kapela s hudbou pro každou příležitost!
			</p>
			<div class="cta button alt"><a href="/about/">Zjistit Více</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Nadcházející akce<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Nadcházející akce:</h2>
				<p class="editable">26.01.2024    Farní ples TS</p>
				<p class="editable">03.02.2024    Maškarní Ledenice</p>
				<p class="editable">09.02.2024    Farní ples Ledenice</p>
				<p class="editable">10.02.2024    Masopust Radostice</p>
				<p class="editable">23.02.2024    Městský ples TS</p>
				<p class="editable">24.02.2024    Obecní ples Ledenice</p>
				<p class="editable">09.03.2024    Pyžamák Petříkov</p>
				<p class="editable">23.03.2024    Obecní ples Olešnice</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ page.poster_00 }}" alt="poster_00" />
			</div>
			<div class="image">
				<img class="editable" src="{{ page.poster_01 }}" alt="poster_01" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Maškarní ples Ledenice</h2>
				<p class="editable">22.2.2024!</p> 
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Kontaktujte nás!</h2>
				<p class="subtext editable">Máte zájem o naši produkci?</p>
				<div class="cta button alt"><a href="/contact/">Klikněte zde!</a></div>
			</div>
		</div>
	</section>
</div>
