---
title: Home
description: Mladá kapela s hudbou pro každou příležitost!
image: /images/home/top.jpg
bottom_image: /images/home/bottom.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
    <div class="inner-hero text-container">
        <div class="hero-text-container">
            <h1>Kapela Cmaj7</h1>
            <p class="subtext">
                Mladá kapela s hudbou pro každou příležitost!
            </p>
            <div class="cta button alt"><a href="/about/">Zjistit Více</a></div>
        </div>
    </div>
    <div class="learn-more"><a href="#learn-more">Nadcházející akce<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
    <section class="info" id="learn-more">
        <div class="container flex">
            <!-- Check that there is at least one poster -->
            {% assign image_exists = false %}
            {% for file in site.static_files %}
            {% if file.path contains 'images/home/posters' %}
            {% assign image_exists = true %}
            {% endif %}
            {% endfor %}

            {% if image_exists %}
            <div class="container">
                {% for file in site.static_files %}
                {% if file.path contains 'images/home/posters' %}
                <div class="image">
                    <img src="{{ file.path }}" alt="{{ file.basename }}">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>

<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
        <div class="inner-hero text-container">
            <div class="hero-text-container">
                <h2>Kontaktujte nás!</h2>
                <p class="subtext">Máte zájem o naši produkci?</p>
                <div class="cta button alt"><a href="/contact/">Klikněte zde!</a></div>
            </div>
        </div>
    </section>
</div>