<!DOCTYPE html>

<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.svg" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.svg">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300|Rubik:300&display=swap">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	</head>

	<body>
		<header id="mainHeader">
			<div class="container">
				<div class="company-name">
					<a href="{{ site.baseurl }}/">
						<span class="dark-logo"><img width="104" height="38" src="{{ site.baseurl }}/images/logo/dark.svg" alt="Kapela Cmaj7 logo"></span>
						<span class="light-logo"><img width="104" height="38" src="{{ site.baseurl }}/images/logo/light.svg" alt="Kapela Cmaj7 logo"></span>
					</a>
				</div>
				{% include navigation.html %}
			</div>
		</header>

		{{ content }}

		<footer>
			<div class="container">
				<ul class="footer-left-links">
					{% for link in site.data.footer.left_links %}
						<li>
							<a {% if link.new_window %}target="_blank" rel="noopener"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
								{% if link.social_icon %}{% include social-icon.html icon=link.social_icon %}{% endif %}
								{{ link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
				<ul class="footer-right-links">
					{% for link in site.data.footer.right_links %}
						<li>
							<a {% if link.new_window %}target="_blank" rel="noopener"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
								{% if link.social_icon %}{% include social-icon.html icon=link.social_icon %}{% endif %}
								{{ link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</footer>

		<script src="{{ site.baseurl }}/js/main.js"></script>
	</body>
</html>
